encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1jlap3mc2887yth7qsvytz947cf5hknrr6hg4u9carlf7phg87s7qdkg3ye"
[edit]
    command = "vim"
[git]
    autoCommit = true
