encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1jlap3mc2887yth7qsvytz947cf5hknrr6hg4u9carlf7phg87s7qdkg3ye"
[edit]
    command = "vim"
[git]
    autoCommit = true
[data]
{{- if eq .chezmoi.hostname "fugaku" }}
    client = true
    homebrew = true
    rootless = false
    decrypt = true
{{- else if eq .chezmoi.os "darwin" }}
    client = true
    homebrew = true
    rootless = false
    decrypt = true
{{- else }}
    client = {{ promptBool "Client PC?" false }}
    homebrew = {{ promptBool "install homebrew?" false }}
    rootless = {{ promptBool "rootless install?" true }}
    decrypt = {{ promptBool "decrypt?" false }}
{{ end -}}
