{{- $interactive := stdinIsATTY }}

{{- $profile := "" }}
{{- $client := false }}
{{- $rootless := false }}
{{- $decrypt := false }}
{{- if hasKey . "profile" -}}
{{-   $profile = .profile }}
{{-   $client = .client }}
{{-   $rootless = .rootless }}
{{-   $decrypt = .decrypt }}
{{- else if eq .chezmoi.hostname "fugaku" }}
{{-   $profile = "linux_client" }}
{{-   $client = true }}
{{-   $decrypt = true }}
{{- else if eq .chezmoi.os "darwin" }}
{{-   $profile = "darwin_client" }}
{{-   $client = true }}
{{-   $decrypt = true }}
{{- else if (promptBool "Client PC?" false) }}
{{-   $profile = "linux_client" }}
{{-   $client = true }}
{{-   $decrypt = true }}
{{- else  }}
{{-   $profile = "linux_sever" }}
{{- end }}

{{- if $interactive }}
{{-   writeToStdout "Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" }}
{{- end }}
encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1jlap3mc2887yth7qsvytz947cf5hknrr6hg4u9carlf7phg87s7qdkg3ye"
[edit]
    command = "vim"
[git]
    autoCommit = true
[data]
    profile = "{{ $profile }}"
    client = {{ $client }}
    rootless = {{ $rootless }}
    decrypt = {{ $decrypt }}
