#!/bin/bash
PATH=$HOME/.local/bin:$PATH
{{ if not .homebrew -}}
# for without homebrew
{{ $chezmoi_source_dir := .chezmoi.sourceDir }}
{{  range .packages.linux_rootless -}}
/bin/bash {{ $chezmoi_source_dir }}/scripts/{{ . | quote }}
{{  end -}}

{{ else if eq .chezmoi.os "darwin" -}}

{{  if eq .chezmoi.arch "arm64" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{  else if eq .chezmoi.arch "amd64" }}
# not test
eval "$(/usr/local/bin/brew shellenv)"
{{  end }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{  range .packages.darwin.taps -}}
tap {{ . | quote }}
{{  end -}}
{{  range .packages.darwin.brews -}}
brew {{ . | quote }}
{{  end -}}
{{  range .packages.darwin.casks -}}
cask {{ . | quote }}
{{  end -}}
EOF
{{ else -}}
# for Linux with homebrew
{{ end -}}
