#!/bin/bash
PATH=$HOME/.local/bin:$PATH
{{ $chezmoi_source_dir := .chezmoi.sourceDir }}
{{ if not .homebrew -}}
# for without homebrew
{{  range .packages.linux_rootless.scripts -}}
/bin/bash {{ $chezmoi_source_dir }}/scripts/{{ . | quote }}
{{  end -}}

{{ else if eq .chezmoi.os "darwin" -}}

{{  if eq .chezmoi.arch "arm64" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{  else if eq .chezmoi.arch "amd64" }}
# not test
eval "$(/usr/local/bin/brew shellenv)"
{{  end }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{  range .packages.darwin.taps -}}
tap {{ . | quote }}
{{  end -}}
{{  range .packages.darwin.brews -}}
brew {{ . | quote }}
{{  end -}}
{{  range .packages.darwin.casks -}}
cask {{ . | quote }}
{{  end -}}
EOF

{{  range .packages.darwin.scripts -}}
/bin/bash {{ $chezmoi_source_dir }}/scripts/{{ . | quote }}
{{  end -}}

{{ else if .client -}}
# for Linux client with homebrew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

brew bundle --no-lock --file=/dev/stdin <<EOF
{{  range .packages.linux_client.taps -}}
tap {{ . | quote }}
{{  end -}}
{{  range .packages.linux_client.brews -}}
brew {{ . | quote }}
{{  end -}}
{{  range .packages.linux_client.casks -}}
cask {{ . | quote }}
{{  end -}}
EOF
{{ end -}}
