{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -euC

echo "linux once_before"

function install_homebrew_rootless() {
    # [Installation — Homebrew Documentation](https://docs.brew.sh/Installation#alternative-installs)
    mkdir {{ .chezmoi.homeDir }}/.linuxbrew && curl -L https://github.com/Homebrew/brew/tarball/master | tar xz --strip-components 1 -C .linuxbrew
    eval "$({{ .chezmoi.homeDir }}/.linuxbrew/bin/brew shellenv)"
    brew update --force --quiet
    chmod -R go-w "$(brew --prefix)/share/zsh"
}

function install_homebrew() {
    # [Some questions about silent installation · Homebrew · Discussion #4311](https://github.com/orgs/Homebrew/discussions/4311)
    echo ${sudo_password} | sudo -S -p "" echo "get sudo session"
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
}

function install_mise() {
    curl https://mise.run | sh
}

function install_zsh_rootless() {
    if [ ! -e $HOME/.local/bin/zsh ]; then
        sh -c "$(curl -fsSL https://raw.githubusercontent.com/romkatv/zsh-bin/master/install)" -- -d ~/.local -e no
    fi
}

{{ if .rootless }}
which zsh 1>/dev/null || install_zsh_rootless
echo "zsh exist"
{{ else }}
ex=0
{{  range .packages.linux_client.requirements -}}
if ! command -v {{ . | quote }} &> /dev/null
then
    echo "please install {{ . | quote }}"
    ex=1
fi
{{  end -}}
if [ $ex -eq 1 ]; then
    exit 1
fi
{{ end -}}

if [ -e $HOME/.bash_profile ]; then
    if [ ! -e $HOME/.bash_profile.bak ]; then
        mv $HOME/.bash_profile $HOME/.bash_profile.bak
    fi
elif [ ! -e $HOME/.bash_profile.bak ]; then
    touch $HOME/.bash_profile.bak
fi

{{ if and .homebrew .rootless }}
echo "rootless homebrew not support"
exit 1
which brew 1>/dev/null || install_homebrew_rootless
echo "homebrew exist"
{{ else if .homebrew }}
which brew 1>/dev/null || install_homebrew
echo "homebrew exist"
{{ end -}}

which mise 1>/dev/null || install_mise
echo "mise-en-place exist"
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -euC

echo "macos once_before"
read -sp "Password: " sudo_password; echo -e

function install_xcode_clt() {
    echo "Xcode CLT not found"
    echo "please execute 'xcode-select --install'"
    exit 1
}

function install_homebrew() {
    # [Some questions about silent installation · Homebrew · Discussion #4311](https://github.com/orgs/Homebrew/discussions/4311)
    echo ${sudo_password} | sudo -S -p "" echo "get sudo session"
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- if eq .chezmoi.arch "arm64" }}
    eval "$(/opt/homebrew/bin/brew shellenv)"
{{- else if eq .chezmoi.arch "amd64" }}
    # not test
    eval "$(/usr/local/bin/brew shellenv)"
{{ end }}
}

function install_mise() {
    curl https://mise.run | sh
}

xcode-select -p 1>/dev/null || install_xcode_clt
echo "Xcode CLT exist"

which brew 1>/dev/null || install_homebrew
echo "homebrew exist"

which mise 1>/dev/null || install_mise
echo "mise-en-place exist"
{{ end -}}
