# Read more about SSH config files: https://linux.die.net/man/5/ssh_config

Include ~/.ssh/config_secret

Host *
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
{{- end }}
  IdentityFile ~/.ssh/id_ed25519

